*~
/autoscan.log
libtool
autom4te.cache/
config.status
stamp-h1
/test-driver
/doc/
*.o
TAGS
*.gcda
*.gcno
Makefile
config.log
/bin/
.deps/
.todo
hello
/bitfunc-test
src/bitfunc/config.h
test/adder
test/bftest
test/bitvec-test
test/examples
test/incremental-test
test/mem_test
test/synthesis-crc
test/pcode_test
test/synthesis-swap
lib/abc/
test/pcode-aig.pdf
src/program_ssa.pdf
src/program_ssa.c
src/program_ssa-nw.c
test/pcode-aig
src/bap_lex.c
src/bap_lex.h
src/bap_parse.c
src/bap_parse.h
src/bap_parse.out
src/libbapparse.a
/.libs
*.lo
*.la
/src/.libs
/test/.libs
src/lex.yy.c
src/lemon
src/parser.stamp
src/lexer.stamp
bap_parse_il
*.dSYM
test/popcnt
src/data.tmp
test/gcd-test
/aig*.dot*
.DS_Store
*.pyc
/doxygen-doc
funcsat/src/funcsat/vec_reason_info.h
funcsat/src/funcsat/vec_uintptr.h
/bitfunc-*.tar.gz
/makeitcrash
tags
