doc/
*.o
TAGS
*.gcda
*.gcno
Makefile
/funcsat-llvm*
/funcsat
/bin/
/.deps/
/Doxyfile
/src/.libs
*.lo
*.bundle
*.idx
*.log
*.scn
*.toc
/src/learning.pdf
/src/learning.tex
/.libs
check_solution
src/funcsat.pdf
/test-driver
